*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nerko One', cursive;
  background-color: #add8e6;
  text-align: center;
}

header .title{
  font-size: 70px;
  color: white;
  text-shadow: 1px 1px 5px grey;
}

.container{
  margin: 0 30%;
}

.row{
  padding: 10px;
}

.card{
  display: inline-block;
  height: 200px;
  width: 150px;
  border-radius: 10px;
  border: 1px solid black;
}

footer{
  text-align: center;
}
