*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nerko One', cursive;
  background-color: #add8e6;
}

header{
  text-align: center;
}

header .title{
  font-size: 70px;
  color: white;
  text-shadow: 1px 1px 5px grey;
}

.container{
  text-align: center;
}

.row{
  padding: 10px 10px;
}

.covered_card, .upcard{
  position: relative;
  display: inline-block;
  height: 230px;
  width: 160px;
  border-radius: 10px;
  background-color: white;
  background-size: contain;
  background-position: center;
  }
  .covered_card{
  background-image: url("../img/pattern.png");
  }
  .upcard{
  background-repeat: no-repeat;
  background-image: url("../img/noun_air_balloon_3134741.png");
  }
  .card_ballon{
  color: purple;
  }

.name{
  position: absolute;
  bottom: 10px;
  left: 30%;
  font-size: 20px;
}

/* HOVER */
.ballon:hover{
  background-repeat: no-repeat;
  background-image: url("../img/noun_air_balloon_3134741.png");
}
.covered_card:hover .card_ballon:after{
  content: "Air Ballon";
  color: purple;
}

.bicycle:hover{
  background-repeat: no-repeat;
  background-image: url("../img/noun_Bicycle_3134821.png");
}
.covered_card:hover .card_bicycle:after{
  content: "Bicycle";
  color: green;
}

.submarine:hover{
  background-repeat: no-repeat;
  background-image: url("../img/noun_Submarine_3134738.png");
}
.covered_card:hover .card_submarine:after{
  content: "Submarine";
  color: grey;
}

.tractor:hover{
  background-repeat: no-repeat;
  background-image: url("../img/noun_Tractor_3134797.png");
}
.covered_card:hover .card_tractor:after{
  content: "Tractor";
  color: brown;
}

.tram:hover{
  background-repeat: no-repeat;
  background-image: url("../img/noun_Tram_3134750.png");
}
.covered_card:hover .card_tram:after{
  content: "Tram";
  color: orange;
}

.ship:hover{
  background-repeat: no-repeat;
  background-image: url("../img/noun_Cruise_Ship_3134824.png");
}
.covered_card:hover .card_ship:after{
  content: "Ship";
  color: blue;
}
/* / HOVER */

footer{
  text-align: center;
}
